article.mb-10
  h3.text-xl.leading-tight #{job.position}
  a(href=`${job.website}` target="_blank")
      span.font-light.text-gray-800 #{job.company}
  div.text-gray-600.text-xs
    | #{job.startDate}—#{job.endDate}
    if job.location
      |  &middot; #{job.location}


    //- span.bg-gray-300.text-xs.ml-2.px-2.rounded.tracking-wide.text-gray-500 #{job.type}
  ul.list-none.mt-2
    each item in job.highlights
      li #{item}

