article.mb-10
  div
    img(src=`${job.logo}`, alt="")
  h3.text-xl.leading-tight.inline-flex.items-center
    | #{job.position}
    a(href=`${job.website}` target="_blank" class="font-light text-sm text-gray-600")
      span.mx-2 |
      | #{job.company}

  div.text-gray-600.text-xs.mt-1
    | #{job.startDate}—#{job.endDate}
    |  &middot; #{job.type}
    if job.location
      |  &middot; #{job.location}

  div(id=`job-${index}`)
    ul.list-none.mt-2.text-sm.text-gray-800
      each item in job.highlights
        li.mb-1 #{item}

